#Sentiment Analysis with Twitter

In [ ]:
# importing libraries
import numpy as np
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
nltk.download('stopwords')

pd.set_option('max_colwidth', 800)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# loading dataset
df = pd.read_csv('train.csv')
df.head()

   id  ...                                                                                                                       tweet
0   1  ...                       @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2  ...  @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3  ...                                                                                                         bihday your majesty
3   4  ...                                      #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5  ...                                                                                      factsguide: society now    #motivation

[5 rows x 3 columns]

In [ ]:
# Cleaning Raw tweets
def clean_text(text):
    
    #remove emails
    text = ' '.join([i for i in text.split() if '@' not in i])
    
    #remove web address
    text = re.sub('http[s]?://\S+', '', text)

    #remove punctuations
    text = re.sub(r'[^\w\s]', '', text)
    
    #Filter to allow only alphabets
    text = re.sub(r'[^a-zA-Z0-9\']', ' ', text)
    
    #Remove Unicode characters
    text = re.sub(r'[^\x00-\x7F]+', '', text)

    #remove double spaces 
    text = re.sub('\s+', ' ', text)
    
    return text

In [ ]:
df["clean_tweet"] = df.tweet.apply(lambda x: clean_text(x))

In [ ]:
df.head(10)

   id  ...                                                                                                                  clean_tweet
0   1  ...                                  when a father is dysfunctional and is so selfish he drags his kids into his dysfunction run
1   2  ...                        thanks for lyft credit i cant use cause they dont offer wheelchair vans in pdx disapointed getthanked
2   3  ...                                                                                                          bihday your majesty
3   4  ...                                                                               model i love u take with u all the time in ur
4   5  ...                                                                                            factsguide society now motivation
5   6  ...                 22 huge fan fare and big talking before they leave chaos and pay disputes when they get there allshowandnogo
6   7  ...                                                                                                      camping tomorrow danny
7   8  ...  the next school year is the year for exams cant think about that school exams hate imagine actorslife revolutionschool girl
8   9  ...                                                      we won love the land allin cavs champions cleveland clevelandcavaliers
9  10  ...                                                                                                  welcome here im its so gr8

[10 rows x 4 columns]

In [ ]:
# dropping the uncleaned text column "tweet"
df = df.drop(['tweet'], axis=1)

In [ ]:
# renaming the column clean_tweet to 'tweet
df.rename(columns = {'clean_tweet':'tweet'}, inplace = True)

In [ ]:
df.head()

   id  ...                                                                                                  tweet
0   1  ...            when a father is dysfunctional and is so selfish he drags his kids into his dysfunction run
1   2  ...  thanks for lyft credit i cant use cause they dont offer wheelchair vans in pdx disapointed getthanked
2   3  ...                                                                                    bihday your majesty
3   4  ...                                                         model i love u take with u all the time in ur
4   5  ...                                                                      factsguide society now motivation

[5 rows x 3 columns]

In [ ]:
df.shape

(31962, 3)

In [ ]:
# preprocessing the data (removing stopwords, collecting the words in a vector form)
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
corpus=[]
for i in range (0, len(df)):
    review = re.sub('[^a-z]', ' ', df['tweet'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if word not in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [ ]:
# convert text data to vector form using TFIDF VECTORIZER
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer(max_features=2000)
x=cv.fit_transform(corpus).toarray()

In [ ]:
y=df['label']

## TRAIN-TEST SPLIT

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

MODEL BUILDING USING MULTINOMIAL NAIVE BAYES

In [ ]:
from sklearn.naive_bayes import MultinomialNB
clf=MultinomialNB()
clf.fit(x_train, y_train)
y_pred=clf.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[5966   19]
 [ 267  141]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      5985
           1       0.88      0.35      0.50       408

    accuracy                           0.96      6393
   macro avg       0.92      0.67      0.74      6393
weighted avg       0.95      0.96      0.95      6393

accuracy_score:  0.9552635695291726

Conclusion: My model gives me overall 96% accuracy.